@{
    ViewBag.Title = "Home Page";
}
<body>
    <main class="background">
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="VideoSphere">Join Us !</h1> 
            <p class="lead">Book your movies online and come pick it up ! </p>
        </section>
    </main>
</body>
<style>
    body {
        background-image:url("../../Images/VideoSphere.png");
            }
    .background {
        background-color: #FDF1E2;
        border-radius: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
       
   

</style>